::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent !important; 
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


@import "tailwindcss";

.hero {
    background: url('/path/to/your/background-image.webp') center center/cover no-repeat;
}

.cta-section {
    background: url('/path/to/your/section3-image.webp') center center/cover no-repeat;
}

.hero {
    background-image: url('/images/HeroImage.jpg');
    background-size: cover;
    background-position: center;
}

.cta-section {
    background-image: url('/images/CTA.webp');
    background-size: cover;
    background-position: center;
}

.chat-body-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.chat-body-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-body-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
}

.dark .chat-body-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
}